# Node modules
node_modules/
frontend/node_modules/

# Python virtual environments
venv/
backend/venv/

# Bytecode & cache
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
.env.*

# Testing & coverage
coverage/

# Build outputs
build/
dist/
*.log

# Editor/IDE
.vscode/
.idea/
*.swp

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

# React frontend build
/frontend/build

# Upload folders
/uploads
