.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.custom-file-upload {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #2d89ef;
  color: white;
  border-radius: 6px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #1c5db6;
}
label {
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;

}
button{
  background-color: #2d89ef;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

